<IfModule mod_rewrite.c>
    Options -MultiViews
    SetEnv APP_ENV dev
    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app.php [L]
</IfModule>
